/* Template styling */

html, body {
  margin: 0;
}

body {
  background: url('../images/dark-linen.png') repeat;
  font-family: 'Roboto', sans-serif;
}

div#app {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'header header header'
    'menu menu menu'
    'container container container'
    'footer footer footer'
  ;
  min-height: 100vh;
}

header {
  grid-area: header;
  height: 200px;
  background: url('../images/banner-top.png');
}

nav {
  grid-area: menu;
  height: 60px;
  background: url('../images//banner-bottom.png');
  font-size: 1.75em;
  line-height: 60px;
  padding: 20px;
  color: white;
  display: flex;
}

nav a {
  color: rgb(95, 191, 255);
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: rgb(198, 115, 247);
}

#container {
  grid-area: container;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
  color: #ccc;
}

.hidden {
  display: none;
}

a.active {
  color: white;
  font-weight: bold;
}

input#search {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid gray;
  border-radius: 4px;
  height: 24px;
  flex: 1 0;
  margin: auto;
}

span.favorite {
  padding-left: 10px;
  cursor: pointer;
}

span.favorite.active {
  color: rgb(255, 0, 149);
}

span.favorite:hover {
  color:rgb(187, 135, 255)
}

/* End template styling */


/* Add your styles below */

.category-box {
  padding: 32px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(18, 0, 28);
  border-radius: 5px;
  margin: 0 auto;
}

.category-box a {
  color: white;
  font-size: 32px;
  font-weight: 500;
  text-decoration: none;
  padding-top: 1em;
}

#categories > h1 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 2.8rem;
}

.categories-container {
  display: flex;
  justify-content: space-around;
}

#about {
  text-align: center;
}

#movie {
  padding: 2em;
}

#movie > h1 {
  margin-bottom: 1em;
}

.movie-detailed-view {
  display: flex;
}

.movie-detailed-view-poster-container > img {
  width: 260px;
  border-right: rgb(202, 202, 202) solid 2px;
  padding-right: 2em;
}

.movie-detailed-view-info-container {
  margin-left: 2em;
}

.movie-detailed-view-info-container p {
  font-size: 1.2rem;
  font-weight: 600;
}

#movies > .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
}

.movie-simple-view {
  border: rgb(0, 0, 0) 3px solid;
  border-radius: 6px;
  padding: 1em;
}

.movie-simple-view > img {
 width: 100%;
}

.movie-simple-view > h2, h3 {
  text-align: center;
}

.movie-simple-view > h2 {
  font-size: 1.5em;
}

.movie-simple-bottom-content > a {
  text-decoration: none;
  padding: 1em;
  color: white;
  border: rgb(34, 0, 34) 2px solid;
  background-color: rgb(83, 0, 83);
  border-radius: 5px;
}

.movie-simple-bottom-content {
  margin-top: 2em;
  align-items: center;
}

.category-box {
  text-align: center;
}

.category-box > a {
  font-size: 1rem;
}