/* Template styling */

html, body {
  margin: 0;
}

body {
  background-color: #0c0c0c;
  
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

div#app {
  background: url('../images/dark-linen.png') repeat;
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'header header header'
    'menu menu menu'
    'container container container'
    'footer footer footer'
  ;
  min-height: 100vh;
}

header {
  grid-area: header;
  height: 200px;
  background: url('../images/banner-top.png');
}

nav {
  grid-area: menu;
  height: 60px;
  background: url('../images//banner-bottom.png');
  font-size: 1.75em;
  line-height: 60px;
  padding: 20px;
  color: white;
  display: flex;
}

nav a {
  color: rgb(95, 191, 255);
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: rgb(198, 115, 247);
}

#container {
  grid-area: container;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

#home {
  margin-left: 1.5em;
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
  color: #ccc;
}

.hidden {
  display: none;
}

a.active {
  color: white;
  font-weight: bold;
}

input#search {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid gray;
  border-radius: 4px;
  height: 24px;
  flex: 1 0;
  margin: auto;
}

span.favorite {
  padding-left: 10px;
  cursor: pointer;
}

span.favorite.active {
  color: rgb(255, 0, 149);
}

span.favorite:hover {
  color:rgb(187, 135, 255)
}

/* End template styling */


/* Add your styles below */

.category-box {
  padding: 32px;
  background: rgb(11,27,42);
  background: linear-gradient(254deg, rgba(11,27,42,1) 0%, rgba(0,0,0,1) 100%);
  border-radius: 5px;
  margin: 0 auto;
  width: 120px;
  filter: drop-shadow(25px 15px 15px #000000);
}

.category-box > a {
  color: rgb(232, 232, 232);
  font-size: 3rem;
  font-weight: 500;
  text-decoration: none;
  font-weight: 600;
  padding: .5em;
  border-radius: 3px;
  background-color: rgb(5, 34, 47);
  transition-duration: .1s;
}

.category-box > a:hover {
  cursor: pointer;
  background-color: rgb(3, 21, 29);
}

.category-box > h1 {
  margin: 0;
}

.category-box > p {
  color: #ccc;
  margin: 0;
  margin-bottom: 2em;
}

#categories > h1 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 2.8rem;
}

.categories-container {
  display: flex;
  justify-content: center;
  max-width: 70%;
  margin: 0 auto;
}

footer {
  background: rgb(11,27,42);
  background: linear-gradient(254deg, rgba(11,27,42,1) 0%, rgba(0,0,0,1) 100%);
}

#about {
  text-align: center;
}

#movie {
  padding: 2em;
}

#movie > h1 {
  margin-bottom: 1em;
}

.movie-detailed-view {
  display: flex;
}

.movie-detailed-view-poster-container > img {
  width: 260px;
  border-right: rgb(202, 202, 202) solid 2px;
  padding-right: 2em;
}

.movie-detailed-view-info-container {
  margin-left: 2em;
}

.movie-detailed-view-info-container p {
  font-size: 1.2rem;
  font-weight: 600;
}

#movies > .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
}

#movies > h1 {
  margin-left: .8em;
}

.movie-simple-view {
  background: rgb(5,13,22);
  background: linear-gradient(347deg, rgba(5,13,22,1) 0%, rgba(0,0,0,1) 100%);
  border-radius: 6px;
  padding: 0 1em;
}

.movie-simple-view > img {
 width: 95%;
 border-radius: 5px;
 display: block;
 margin: 0 auto;
}

.movie-simple-view > h2, h3 {
  text-align: center;
}

.movie-simple-view > h2 {
  font-size: 1.5em;
}

.movie-simple-bottom-content > a {
  text-decoration: none;
  padding: 1em 2em;
  color: white;
  background-color: rgb(3, 24, 45);
  border-radius: 5px;
  font-weight: 500;
  font-size: .8rem;
  font-weight: 600;
}

.movie-simple-bottom-content > a:hover {
  background-color: rgb(2, 15, 29);
} 

.movie-simple-bottom-content {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
}

.category-box {
  text-align: center;
}

.category-box > a {
  font-size: 1rem;
}

.favorite {
  scale: 2;
  margin-left: -1em;
}